body {
    --project1-height: 1fr;
    --project2-height: 1fr;
    --project3-height: 1fr;
    --project4-height: 1fr;
    --content-display: none;
    --project-title-font-size: 55px;
}

.project-grid {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    /* max-height: fit-content; */
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
        /* var(--project1-height)
        var(--project2-height)
        var(--project3-height)
        var(--project4-height); */
    grid-template-areas:
        "selected-project-img projects";
        /* "selected-project-img project2"
        "selected-project-img project3"
        "selected-project-img project4"; */
    color: white;
}

/* .project-grid > .project1:hover {
    --project1-height: 2fr;
    background-color: purple;
}

.project-grid, .project-grid > .project2:hover {
    --project2-height: 2fr;
    background-color: blue;
} */

/* .project-grid:nth-child(3):hover {
    --project2-height: 2fr;
} */

.selected-project-img {
    grid-area: selected-project-img;
    border-right: 3px solid white;
    background-image: url(../resources/Home_Assistant_Logo.svg.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.project {
    border-top: 3px solid white;
    padding: 0% 5%;
    flex-grow: 1;
    flex-shrink: 1;
    transition: 1s;
    position: relative;
}

.project:first-child {
    border-top: none;
}

.project:hover {
    --content-display: block;
    --project-title-font-size: 32px;
}

.project-title {
    font-size: 55px;
    font-weight: bold;
    transition: 1s;
    /* margin: 0px; */
}

/* .project1 {
    grid-area: project1;
    border-top: none;
}

.project2 {
    grid-area: project2;
}

.project3 {
    grid-area: project3;
}

.project4 {
    grid-area: project4;
} */

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    transition: 1s;
    overflow-y: auto;
}

/* ul {
    transition: 1s;
    display: var(--content-display);
} */

.popup {
    position: absolute;
    left: 5%;
    top: 0px;
    z-index: 1;
    background-color: gray;
    border: 1px solid white;
}