.contact-table-container {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-table {
    width: 50%;
}

.contact-table td {
    border: 1px solid gray;
    width: 25%;
    padding-top: 25%;
}