.red-box {
    background-color: red;
    border: none;
    width: 100px;
    height: 100px;
}

.red-box:hover {
    background-color: green;
}

.horizontal-flex-container {
    position: fixed;
    display: flex;

}

@media (min-width: 600px) {
    .red-box {
        border: purple solid 5px;
    }
}