.red-box {
    background-color: red;
    border: none;
    width: 100px;
    height: 100px;
}

.red-box:hover {
    background-color: green;
}

.horizontal-flex-container {
    position: fixed;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@media (min-width: 600px) {
    .red-box {
        border: purple solid 5px;
    }
}